body{
  /* background-color: #a1ab98; */
  /* background: linear-gradient(to top left, #C08081, #D1B180, #5B6F7C, #8DA468, #8A9A5B); */
  color: #81a448;
  background-color: #e4f6c9;

}
a {
  color: #C08081;
}

.btn-outline {
  color: #8da468;
  border: 1px solid #8da468;
  background-color: #fff;
}

.btn-outline:hover {
  color: #fff;
  background-color: #789957;
  border-color: #789957;
}

.btn-second {
  background-color: #8a9a5b;
  border-color: #8a9a5b;
  color: #fff;
}

.btn-second:hover {
  color: #FFF !important;
  background-color: #78824d !important;
  /* border-color: #78824d; */
}
.btn-second:active {
  color: #FFF !important;
  background-color: #78824d !important;
  /* border-color: #78824d; */
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #5b6f7c; */
  color: #8da468;
}

.navbar {
  background-color: #f5ffed !important;
}

.navbar a{
  color: #81a448;
}

.navbar a.active,
.navbar a:hover {
  color: #93b163;
  text-shadow: #81a448;
  text-decoration: underline;

}


.navbar-brand{
  font-size:x-large;
  color: #93b163;
}

.navbar-brand:hover{
  text-decoration: none !important;
}


.form-control {
  border-color: #8da468;
}

.form-control:focus {
  /* border-color: #d1b180 2px solid; */
  box-shadow: 0 0 0 0.2rem rgba(126, 175, 47, 0.25);
}

.shadow-green {
  box-shadow: 0 0 2rem rgba(131, 171, 68, 0.25);

}

.card{
  background-color: transparent;
  border: none;
  box-shadow: 0 0 2rem rgba(131, 171, 68, 0.25);
  height: auto;
}
.card p{
  font-size: larger;
  color: #777;
}

.section.how-it-works, .section.pricing, .section.contact-us{
  background: #24382C;
}

.section.how-it-works .card{
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 20px;
  box-shadow: 0 0 2rem rgba(147, 160, 126, 0.25);
}

.section.how-it-works h1, .section.how-it-works h3{
  color: #FFF;
}

.section.how-it-works .card p{
  color: #FFF;
}

.vl {
  border-left: 3px solid #FFF;
  height: 100%;
}

.section.pricing table{
  font-size: x-large;
  font-weight: normal;
  background-color: transparent;
}
.section.pricing table tr td{
  color: #FFF;
  background-color: transparent;
}

/* ACCORDION */

.accordion-button {
  background-color: #93b163; 
  color: #FFE;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button[aria-expanded="true"] {
  background-color: #93b163;
  color: #FFE;
}

.accordion-button[aria-expanded="true"] .accordion-body{
  background-color: purple;
}