body{
  /* background-color: #a1ab98; */
  /* background: linear-gradient(to top left, #C08081, #D1B180, #5B6F7C, #8DA468, #8A9A5B); */
  color: #81a448;
  background-color: #e4f6c9;

}
a {
  color: #C08081;
}

.btn-outline {
  color: #8da468;
  border: 1px solid #8da468;
  background-color: #fff;
}

.btn-outline:hover {
  color: #fff;
  background-color: #789957;
  border-color: #789957;
}

.btn-secondary {
  background-color: #8a9a5b;
  border-color: #8a9a5b;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #78824d;
  border-color: #78824d;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* color: #5b6f7c; */
  color: #8da468;
}

.navbar {
  background-color: #f5ffed !important;
}

.navbar a {
  color: #8da468;
}

.navbar a.active,
.navbar a:hover {
  color: #fff;
  text-shadow: #81a448;
}

.nav-link{
  color: #81a448 !important;
}
.nav-link:hover{
  color: #93b163 !important;
  text-decoration: underline;
}


.navbar-brand{
  font-size:x-large;
}

.form-control {
  border-color: #8da468;
}

.form-control:focus {
  /* border-color: #d1b180 2px solid; */
  box-shadow: 0 0 0 0.2rem rgba(126, 175, 47, 0.25);
}


/* Define a custom shadow class */
.shadow-green {
  /* box-shadow: 0 4px 6px rgba(0, 255, 0, 0.2), 0 0 1px 3px rgba(0, 255, 0, 0.2);
   */
  box-shadow: 0 0 2rem rgba(131, 171, 68, 0.25);

}